<div class="contractor_wrapper" id="contractor{{id}}">
	<div class="text_field_wrapper">
		<input type="text" class="text_field" id ="contractor-name{{id}}" value="{{name}}">
		<p class="text_field_error"  id ="contractor-name-error{{id}}">Введите имя</p>
	</div>
	<div class="text_field_wrapper">
		<input type="text" class="text_field"  id ="contractor-phone{{id}}" value="{{phone}}">
		<p class="text_field_error" id ="contractor-phone-error{{id}}">
			Введите номер телефона</p>
	</div>
</div>
